body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
  }
  
  .invoice-container {
    margin-top: 20px !important;
    max-width: 900px;
    margin: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url("../images/Logo.png");
    background-repeat: no-repeat;
  background-position: center;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 60px;
    float: left;
    margin-right: 20px;
  }
  
  .invoice-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .invoice-header h2 {
    font-size: 24px;
    color: #1a237e;
  }

  .main-invoive{
    display: flex;
    justify-content: space-between;
  }

  .invoice-meta{
    width: 48%;
  }

  .invoice-meta h1{
    margin: 5px;
    font-size: 25px;
  }

  .invoice-meta h3{
    font-size: 15px;
    font-weight: 700;
  }
  
  .invoice-meta p {
    margin: 4px 0;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
  }
  .invoice-header i{
    font-size: 30px;
    color: #0288d1;
  }

  .invoice-header i:hover{
    color: #2e7d32;
    cursor: pointer;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .invoice-table th,
  .invoice-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .invoice-table th {
    background-color: #e3f2fd;
    color: #0d47a1;
  }
  
  .invoice-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #2e7d32;
    margin-top: 20px;
  }
  
  .footer-logo {
    text-align: center;
    margin-top: 30px;
    color: #0288d1;
    font-size: 18px;
  }
  